html,
body {
  height: 100%;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: #f7f7f7;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  margin: 10px;
}
.heading {
  text-align: center;
  width: 100%;
}
.form-container {
  background-color: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.from-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color: gray;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type=submit] {
  color: white;
  cursor: pointer;
}
.label {
  color: blue;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.submitBtn {
  box-sizing: border-box;
  margin-top: 25px;
  padding-left: 50px;
  background-color: blue;
  color: white;
  font-weight: 700;
}
.warning {
  color: red;
}
